<% if (success.length) { %>
    <p class="flash success">
        <%= success %>
    </p>
    <% } %>

        <% if (error.length) { %>
            <p class="flash error">
                <%= error %>
            </p>
            <% } %>