<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <nav class="navbar">

        <div class="logo">
            📝 Todo App
        </div>

        <% if(currentUser) { %>
            <div class="user-info">
                <strong>
                    👋 Welcome, <%= currentUser.email %>
                </strong>
            </div>

            <div class="nav-links">

                <a href="/todos">Home</a>
                <a href="/todos/#addTodo">Add Todo</a>
                <a href="/about">About </a>
                <form action="/logout" method="POST">
                    <button class="logout-btn" type="submit">Logout</button>
                </form>
            </div>
            <% } else { %>
                <div class="nav-links">
                    <a href="/about">About</a>
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                </div>
                <% } %>
    </nav>

    <%- include("flash") %>